@import '../../colors.scss';
@import '../../mixins.scss';
@import '../../classes.scss';


.add-to-cart{
   padding: 10px 20px;
   background-color: var(--blue-color);
   color: white;
   font-weight: bold;
   border: none;
   border-radius:5px;
   margin-left: 5px;
   cursor: pointer;
   &:hover{
      transform: scale(1.050);
   }
}



@import '../../classes.scss';
