
@import '../../colors.scss';
@import '../../mixins.scss';
@import '../../classes.scss';

.home{
   min-height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
    background-image: url('../../images/bg.jpeg');
    background-repeat: no-repeat;
    background-size:cover;


    .over-lay{
       width: 100%;
       height: 100%;
       position: absolute;
       background-color: black;
       opacity: 70%;
       left:0;
       top:0;
    }

}

.home .container{
   @media(max-width:576px){
        @include flex(center,center,column);

   }
   @include flex(space-between,center,row);
   flex-wrap: wrap;
   padding-top: 30px;
}

.content{
   padding:10px;
   & > *{
      margin-top:12px;
      position: relative;
      z-index:100;

   }
   @media(min-width:767px){
        width:45%;
   }
}


span{
   font-size:2rem;
   color:var(--main-color);
   text-transform: capitalize;
   font-weight: bold;
   margin-top: 30px;
}

h1{
   color:var(--blue-color);
}

p{
   color: white;
}

//images

.images{
   margin-top: 20px;
   @media(min-width:767px){
        width:45%;
   }
   img{
      width:100%;
      height: 100%;
      //animation: homeImg 3s 0.5s 1 linear;
      position: relative;
      z-index:100;

   }
}

@keyframes homeImg {
   0%{
      transform: rotate(0deg);
   }
   50%{
      transform: rotate(360deg);
   }
   100%{
      transform: rotate(0deg);
   }
}


@import '../../classes.scss';
