@import '../../colors.scss';
@import '../../mixins.scss';

.dishes{
  background-color: white;
  background-image: url('../../images/bg-dishes.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


  .over-lay{
     position: absolute;
     left:0;
     top:0;
     background-color: black;
     width: 100%;
     height: 100%;
     opacity: 50%;

  }

}

.dishes .container{
     padding: 30px 0;

}

.cards{
   width: 100%;
   padding: 10px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   box-shadow: 3px 3px 3px 3px 3px #f0f0f0;
   margin-top: 10px;
}


@import '../../classes.scss';
