
@import '../../colors.scss';
@import '../../mixins.scss';
@import '../../classes.scss';


.card{
   width:250px;
   min-height: 250px;
   margin-top: 35px;
   background-color: var(--gray-light);
   @include flex(center,center,column);
   padding:10px 0;
   position: relative;
   overflow: hidden;

    &:hover .overlay{
       transform: translateY(0);
    }

}


.overlay{
    @include overlay(green,0.5);
    transition: 500ms;
    transform: translateY(-100%);
     .icon{
        background-color: white;
        margin: 10px;
     }
 }





.Product-image{
   width:70%;
   margin:0px auto;
   position: relative;
   z-index: 10;
   &:hover{
      animation: Img 500ms 0.2s 1 ease;
   }
}

.product-name{
   color: var(--blue-color);
   text-transform: capitalize;
   font-weight: bold;
   font-size:1.6rem;
   margin-top:-10px;
   border-radius:10px;
   position: relative;
   z-index:10;
}

.buy{
    @include flex(center,center,row) ;
    position: relative;
    z-index: 10;
}

.rate{
   margin-top:10px;
}
.rate i{
   color: var(--main-color)
}

.buy{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top:20px;

   .price{
      padding:0;
      margin:0;
      margin-right:5px;

   }

}


@keyframes Img {
  0%{
     transform: rotate(0deg);
  }
  40%{
     transform: rotate(10deg);
  }
  70%{
     transform: rotate(0deg);
  }
  100%{
    transform: rotate(-10deg);
  }
}
@import '../../classes.scss';
