@import '../../colors.scss';
@import '../../mixins.scss';
@import '../../classes.scss';

.CartPage{
   background-color: var(--gray-light);
   width: 100%;
   min-height: 100vh;
   padding-top: 30px;
   background-image: url("../../images/bg-4.jpeg");
   background-repeat: no-repeat;
   background-size: cover;

   table{

     tr{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--main-color);
        margin-top: 15px;
     }

     td{
        padding: 10px;
        text-transform: capitalize;
        font-weight: bold;
        text-align: center;

        &.count{
           display: flex;
           justify-content: space-around;
           align-items: center;

           & > *{
              margin-left: 10px;
              margin-right: 10px;
           }

           input{
             width: 40px;
             height: 40px;
             text-align: center;
             border: none;
             outline: none;
           }
           button{
              background-color: transparent;
              color: white;
              font-size:2rem;
              border:none;
              cursor: pointer;
           }
        }

     }

     span{
        color: white;
        font-size:1.5rem;
        margin-left: 5px;
     }

     .buy-now button{
        padding: 10px 20px;
        background-color: white;
        color: var(--main-color);
     }

       thead{
          background-color: var(--main-color);
          color: white;
          width: 100%;



       }

       tbody{
       width: 100%;
       margin-top: 30px;
       }
   }

   img{
      width: 100px;
      height: 100px;
  }

}







@import '../../classes.scss';
