@import '../../colors.scss';
@import '../../mixins.scss';


ul{
   list-style: none;

}

header{
   width:100%;
   background-color: white;
   z-index:1000;



}


nav{
   @include flex(space-between,center,row);
   padding:5px 0;
   border-bottom: 1px solid var(--main-color);
}

.logo{
   color: var(--main-color);
   text-transform: capitalize;
}

ul{
   @media(max-width:576px){
      position: fixed;
      width: 100%;
      padding: 30px 20px;
      margin-top:-20px;
      left:0;
      top:70px;
      background-color: var(--gray-light);
    @include flex(center,center,column);

   }

  @include flex(space-between,center,row);
  position: relative;
  z-index: 10000;


}

li{
   margin:0 5px;
   border-radius:5px;
   text-transform: capitalize;
   cursor: pointer;
   &:hover a{
      background-color: var(--main-color);
      color: white;
   }
   @media(max-width: 767px){
     width:100%;
     margin-top: 10px;
     background-color: #f0f0f0;
     border-radius: 5px;
   }



a{
   color:var(--gray-color);
   display: block;
   width: 100%;
   height: 100%;
   padding: 5px 10px;
   border-radius: 5px;
}

}


.icons{

     @media(max-width:576px){
           width:60%;
           @include flex(space-between,center,row);


     }

     display: flex;
     justify-content: center;
     align-items: center;

}


.icon{
   width:40px;
   height:40px;
   border-radius: 50%;
   background-color: var(--gray-light);
   @include flex(center,center,row);
   cursor: pointer;
   margin-right: 10px;

   &:hover{
      background-color: var(--main-color);
   }

}

.icon a{
   color:white
}

.fa-bars{
   display: none;
  @media(max-width:767px){
     display: block;
  }
}

.cart-icon{
   position: relative;
   span{
      position: absolute;
      right: 40%;
      top:-85%;
      color: red;
      font-weight: bold;
      font-size:1rem;
   }
}
@import '../../classes.scss';

a.active{
  background-color: var(--main-color);
  color: white;
}

nav .hidden{
   display: none;
}
