.hidden{
   display: none;
}



.container{
   width:92%;
   margin:0 auto;
}


.active{
    background-color: var(--main-color);
}

.first-title{
   text-align: center;
   color: var(--main-color);
   font-size:20px;
   position: relative;
   z-index: 100;

}

.second-title{
   margin-top: 10px;
   color: white;
   text-align: center;
   font-size: 25px;
   position: relative;
   z-index: 100;
}
