.hidden{
   display: none;
}



.container{
   width:92%;
   margin:0 auto;
}


.active{
    background-color: var(--main-color);
}

.first-title{
   text-align: center;
   color: var(--main-color);
   font-size:20px;

}

.second-title{
   margin-top: 10px;
   color: var(--blue-color);
   text-align: center;
   font-size: 25px;
}
